.usersstories-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.slider-container {
  width: 90%;
  margin: auto;
}
.slider {
  width: 85%;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .slider-container {
    width: 80%;
  }
  .slider {
    width: 95%;
  }
}

.slick-prev:before,
.slick-next:before {
  color: #989898;
}

.usersstories-section-container {
  padding: 0;
  list-style-type: none;
}

.userstory-li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userstory-image {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.userstory-username {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: #262626;
}

.userstory-classname-link {
  text-decoration: none;
}

.usersstories-failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.usersstories-failure-image {
  width: 48px;
  height: 48px;
  padding: 4px 2px 6px 2px;
}
.usersstories-failure-heading {
  width: 286px;
  height: 24px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #262626;
}
.usersstories-failure-btn {
  cursor: pointer;
  border-radius: 6px;
  border-width: 0;
  width: 102px;
  height: 32px;
  background: #4094ef;
  color: #ffffff;
}

.usersstories-hrline {
  border: 0.5px solid #c6c6c8;
}

@media screen and (min-width: 768px) {
  .usersstories-hrline {
    display: none;
  }
}
