.loginpage-bgcontainer {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.website-login {
  display: none;
}

@media screen and (min-width: 768px) {
  .website-login {
    display: block;
    width: 582px;
    height: 373px;
    top: 326px;
    left: 160px;
    gap: 0px;
    opacity: 0px;
  }
}

.loginform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 456px;
  height: 458px;
  top: 283px;
  left: 824px;
  gap: 0px;
  opacity: 0px;
}

@media screen and (min-width: 768px) {
  .loginform {
    box-shadow: 0px 0px 10px 10px #f1f1f1;
    border-radius: 5px;
  }
}
.website-logo {
  width: 82px;
  height: 42px;
  top: 60px;
  left: 187px;
  gap: 0px;
  opacity: 0px;
}

.instashare-heading {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  width: 122px;
  height: 32px;
  top: 114px;
  left: 167px;
  gap: 0px;
  opacity: 0px;
  color: #262626;
}

.userinput-card {
  margin-bottom: 20px;
  width: 360px;
  height: 64px;
  top: 194px;
  left: 48px;
  gap: 0px;
  opacity: 0px;
}

.label-text {
  width: 65px;
  height: 16px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #262626;
}

.input-text {
  border: none;
  outline: none;
  margin-top: 5px;
  padding-left: 15px;
  width: 360px;
  height: 40px;
  top: 24px;
  gap: 0px;
  border-radius: 2px 0px 0px 0px;
  opacity: 0px;
  background: #eeeeee;
}

.error-msg {
  margin-top: 1px;
  width: 360px;
  height: 16px;
  top: 621px;
  left: 872px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
  color: #ef4444;
}

.login-btn {
  border: none;
  cursor: pointer;
  margin-top: 15px;
  width: 360px;
  height: 40px;
  top: 669px;
  left: 872px;
  gap: 0px;
  opacity: 0px;
  border-radius: 8px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background: #4094ef;
}
