.myprofile-loader-container {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myprofile-details-card {
  width: 90%;
  margin: auto;
}

.myprofile-username {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  color: #262626;
}

.myprofile-pic-followers-card {
  width: 100%;
  display: flex;
  align-items: center;
}

.myprofile-profilepic {
  width: 96px;
  height: 96px;
  border-radius: 50px;
  margin-right: 30px;
}

.myprofile-count {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  color: #262626;
  text-align: center;
  margin-right: 30px;
}
.myprofile-count-text {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  color: #262626;
  text-align: center;
}
.myprofile-userid {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  color: #262626;
}

.myprofile-userbio {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  color: #262626;
  line-height: 24px;
}
.myprofile-storieslist-card {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.myprofile-storieslist-li {
  border-radius: 32px;
  width: 64px;
  height: 64px;
  padding: 3px 3px 3px 3px;
  border: 1px solid #c7c7cc;
  margin-right: 20px;
}

.myprofile-storieslist-image {
  border-radius: 28px;
  width: 56px;
  height: 56px;
}
.myprofile-hrline {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .myprofile-details-card {
    width: 80%;
  }
  .myprofile-profilepic {
    margin-right: 40px;
    border-radius: 70px;
    width: 140px;
    height: 140px;
  }
  .myprofile-username {
    font-size: 26px;
  }
  .myprofile-count {
    margin-right: 40px;
  }
  .myprofile-hrline {
    width: 80%;
  }
}

.myprofile-postslist-container {
  width: 100%;
  margin: auto;
}

.myprofile-postslist-title-card {
  display: flex;
  align-items: center;
  margin-left: 22px;
}
.myprofile-postslist-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.myprofile-postslist-heading {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  color: #262626;
}

.myprofile-postslist-ul-card {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.myprofile-postslist-li {
  margin-right: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.myprofile-postslist-image {
  width: 118px;
  height: 118px;
}

@media screen and (min-width: 768px) {
  .myprofile-postslist-container {
    width: 80%;
  }
  .myprofile-postslist-title-card {
    margin: 0;
  }
  .myprofile-postslist-icon {
    width: 24px;
    height: 24px;
  }
  .myprofile-postslist-heading {
    font-size: 24px;
  }
  .myprofile-postslist-image {
    width: 300px;
    height: 300px;
  }
}

.myprofile-postlist-emptyview-container {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myprofile-postlist-emptyview-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myprofile-postlist-emptyview-icon-card {
  width: 48px;
  height: 48px;
  border: 2px solid #262626;
  border-radius: 24px;
  padding: 8px 8px 8px 8px;
}

.myprofile-postlist-emptyview-icon {
  width: 29.02px;
  height: 26.79px;
}

.myprofile-postlist-emptyview-heading {
  font-family: Roboto;
  font-weight: 300;
  color: #262626;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .myprofile-postlist-emptyview-icon-card {
    width: 86px;
    height: 86px;
    border-radius: 43px;
    padding: 18px 5px 5px 18px;
  }
  .myprofile-postlist-emptyview-icon {
    width: 48px;
    height: 45px;
  }
  .myprofile-postlist-emptyview-heading {
    font-size: 32px;
  }
}

.myprofile-failure-container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.myprofile-wentwrong-image {
  width: 48px;
  height: 48px;
  padding: 4px 2px 6px 2px;
}
.myprofile-wentwrong-heading {
  width: 286px;
  height: 24px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #262626;
}
.myprofile-tryagain-btn {
  cursor: pointer;
  border-radius: 6px;
  border-width: 0;
  width: 102px;
  height: 32px;
  background: #4094ef;
  color: #ffffff;
}
