.usersearchinstapostview-li-container {
  border-radius: 4px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .usersearchinstapostview-li-container {
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
  }
}
.usersearchinstapostview-header-card {
  display: flex;
  align-items: center;
  margin-left: 15px;
  padding: 5px;
}
.usersearchinstapostview-profile-icon-border {
  margin-right: 15px;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  padding: 2px;
  border: 1px solid #c60188;
}
.usersearchinstapostview-profile-icon {
  border-radius: 15px;
  width: 30px;
  height: 30px;
}
.usersearchinstapostview-username {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  color: #262626;
}
.usersearchinstapostview-classname-link {
  text-decoration: none;
}

.usersearchinstapostview-image {
  width: 100%;
  height: 375px;
}

@media screen and (min-width: 768px) {
  .usersearchinstapostview-image {
    max-width: 100%;
    height: 614px;
  }
}

.usersearchinstapostview-footer-card {
  margin-left: 15px;
  padding: 5px;
}

.usersearchinstapostview-btn-card {
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.usersearchinstapostview-icon-btn {
  cursor: pointer;
  border: none;
  background: none;
}

.usersearchinstapostview-icon {
  width: 24px;
  height: 24px;
}
.usersearchinstapostview-likes {
  width: 58px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  color: #262626;
}

.usersearchinstapostview-caption {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  color: #262626;
}
.usersearchinstapostview-spancomment {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  margin-right: 8px;
  color: #262626;
}

.usersearchinstapostview-comment {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  color: #262626;
}

.usersearchinstapostview-createdat {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  color: #989898;
}
