.searchresult-bgcontainer {
  height: 100vh;
}

.searchresult-search-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  width: 280px;
  height: 28px;
  margin-left: 30px;
  margin-bottom: 20px;
  border: 1.5px solid #dbdbdb;
}
.searchresult-search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 10px;
  background-color: #fafafa;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 16.41px;
  text-align: left;
}

.searchresult-search-icon-btn {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #dbdbdb;
  border-radius: 0px 2px 2px 0px;
  opacity: 0px;
  width: 34px;
  height: 26px;
}

.searchresult-search-icon {
  width: 10px;
  height: 10px;
  top: 27px;
  left: 972px;
  gap: 0px;
  opacity: 0px;
  color: #989898;
}

.searchresult-showresult-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.searchresult-showresult-search-icon {
  color: #dbdbdb;
  width: 54px;
  height: 36px;
}

.searchresult-showresult-para {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.009999999776482582px;
  text-align: center;
  color: #989898;
}

/**/
.searchresult-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70%;
}

.searchresult-searchnotfound-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.searchresult-searchnotfound-image {
  width: 258px;
  height: 210px;
}
.searchresult-searchnotfound-heading {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #262626;
}
.searchresult-searchnotfound-para {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #989898;
  margin: 0;
}

.searchresult-instapostview-container {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .searchresult-instapostview-container {
    width: 80%;
    margin: auto;
  }
}

.searchresult-failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.searchresult-failure-image {
  width: 260px;
  height: 127px;
}
.searchresult-failure-heading {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #262626;
}
.searchresult-failure-btn {
  width: 102px;
  height: 32px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  background: #4094ef;
  color: #ffffff;
  border-radius: 5px;
  border-width: 0;
}
